@model SRVFlorerias.Models.Empleado
	
@{
	    ViewData["Title"] = "Gestionar Empleado";
}
<!-- 
<h2>@ViewData["Title"]</h2>
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/formulario.css">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        
<div class="row">
    	<div class="col-lg-3">

        </div>
	                        	<div class="col-lg-6">
       <div class="form-group">
                                <label>NOMBRE</label>
                                <input class="form-control">
                               
                            </div>
	                        	</div>
</div>
<div class="row">
	                        		<div class="col-lg-3">

        </div>
	                        	<div class="col-lg-6">
							<div class="form-group">
                                <label>APELLIDO PATERNO</label>
                                <input class="form-control">
                               
                            </div>
                            </div>
                            </div>
                            
							 <div class="form-group">
                                <label>APELLIDO MATERNO</label>
                                <input class="form-control">
                               
                             </div>
							 <div class="form-group">
                                  <label>DIRECCION</label>
                                  <input class="form-control">
                                 
                             </div>
							 <div class="form-group">
                                  <label>DOCUMENTO</label>
                                  <input class="form-control">
                                 
                             </div>
							 <div class="form-group">
                                          <label>TELEFONO</label>
                                          <input class="form-control">
                                         
                             </div>
							<div class="form-group">
                                <label>CORREO</label>
                                <input class="form-control">
                               
                            </div>
							<div class="form-group">
                                <label>TIPO USUARIO</label>
                                <input class="form-control">
                               
                            </div>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Guardar</button>
				</div>
      
           </body>
           </html>
