@model List<Producto>

<h1><font color="#900C3F" size=9 face="verdana"><H1 align="center"><b>Catálogo de productos</b></H1></font></h1>

@foreach(var p in Model) 
{
 
    <h2><font color="#900C3F" size=4 face="verdana"><a href="~/producto/ver/@p.Id">@p.Nombre</a></font></h2>
     <img src="@p.Foto" width="300" />
     
     
}
 