<h1>Pantalla en construcción.</h1>


<TABLE>
<CAPTION> Mantenimiento de Productos </CAPTION>
<TR><TH>Id</TH><TH>Tipo</TH> <TH>Nombre</TH><TH>Categoria</TH><TH>Precio</TH> <TH>Stock</TH><TH>Dscto</TH> <TH>Descripcion</TH> </TR>
<TR><TD>1 </TD><TD>2 </TD> <TD>3 </TD><TD>1 </TD><TD>2 </TD> <TD>3 </TD><TD>1 </TD><TD>2 </TD> </TR>
<TR><TD>4 </TD><TD>5 </TD> <TD>6 </TD><TD>1 </TD><TD>2 </TD> <TD>3 </TD><TD>1 </TD><TD>2 </TD> </TR>
<TR><TD>7 </TD><TD>8 </TD> <TD>9 </TD><TD>1 </TD><TD>2 </TD> <TD>3 </TD><TD>1 </TD><TD>2 </TD> </TR>
 </TABLE>
