<h1>Pantalla en construcción.</h1>


    <div class="col-md-4">
    <form asp-action="Create">
        <div class="form-group">
            <input type="submit" value="Registrar" class="btn btn-primary" style="background-color:#E31717"/>
            <a href="lista" class="btn btn-primary" role="button">Catalogo</a>
            <a href="mantenimiento" class="btn btn-primary" role="button">Mantenimiento</a>
        </div>
    </form>
</div>