@model Producto
@{
    Producto p = (Producto)ViewData["producto"];
}

<h1><font color="#900C3F" size=6 face="verdana">@Model.Nombre</font></h1>
<img src="@Model.Foto" width="400"/>
<h3><font color="#900C3F" size=3 face="verdana">Un lindo detalle</font></h3>
<p><font color="#900C3F" size=3 face="verdana">Es una manera muy linda de demostrar un sentimiento</font></p>