@model Producto
@{
    Producto p = (Producto)ViewData["producto"];
}

<h1>@Model.Nombre</h1>
<img src="@Model.Foto" />
<h3>ROMANTICO</h3>
<p>LINDO DETALLE DE ROSAS EN BOUQUET DE TAMALÑO MEDIANO Y COMLEMENTO DISPONIBLE EN DIVERSOS COLORES.</p>