@{
    ViewData["Title"] = "Nuestra Empresa";
}

<h2>@ViewData["Title"]</h2>

<p>SRVFlorerias busca brindar a su distinguida clientela poseedora de buen gusto, la belleza 
y elegancia de las flores acompañada de la exigencia en calidad y servicio que ellos se merecen.</p>
<p>Ahora, con la ayuda de las nuevas Tecnologías, no sólo buscamos unir los sentimientos dentro de Perú, 
sino facilitar y ser un medio de unión y expresión para todos</p>
<p>SRVFlorerias siempre ha estado contigo en tus momentos alegres, en los inolvidables, en los de éxito, 
acompañándote en los tristes, en los comienzos y en el final… SRVFlorerias siempre está y estará contigo!!</p>