@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
Hola Alfredo- Soy Mily
Cada uno debe de actualizar sólo una página a la vez
Segun la división que se ha realizado la semana pasada